@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  max-width: 1401px;
  margin: 0 auto;
}
@media (max-width: 1460px) {
  .container {
    max-width: 944px;
  }
}
@media (max-width: 1023px) {
  .container {
    max-width: 688px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 288px;
  }
}

.show-ad__container {
  min-height: 496px;
  height: 100%;
  text-align: center;
  padding: 80px 0 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.show-ad__container h2 {
  font-family: "Inter", Arial, sans-serif;
  font-size: 38px;
  font-weight: 900;
  color: #393A56;
  margin-bottom: 55px;
}
.show-ad__container p {
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #393A56;
}
@media (max-width: 1460px) {
  .show-ad__container {
    min-height: 408px;
  }
  .show-ad__container h2 {
    font-size: 28px;
  }
  .show-ad__container p {
    font-size: 16px;
  }
}
@media (max-width: 1023px) {
  .show-ad__container {
    min-height: 384px;
  }
}
@media (max-width: 767px) {
  .show-ad__container {
    min-height: 604px;
    padding: 40px 0;
  }
  .show-ad__container h2 {
    margin-bottom: 40px;
  }
  .show-ad__container p {
    line-height: 24px;
  }
}

.show-ad__show-items {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-content: space-between;
}
@media (max-width: 767px) {
  .show-ad__show-items {
    flex-wrap: wrap;
  }
}

.show-item {
  width: 320px;
}
@media (max-width: 1460px) {
  .show-item {
    width: 221px;
  }
}
@media (max-width: 1023px) {
  .show-item {
    width: 157px;
  }
}
@media (max-width: 767px) {
  .show-item {
    width: 139px;
  }
}
.show-item img {
  height: 120px;
}
@media (max-width: 767px) {
  .show-item img {
    height: 60px;
  }
}

.ad-in-google__container {
  min-height: 2600px;
}
@media (max-width: 1460px) {
  .ad-in-google__container {
    min-height: 2045px;
  }
}
@media (max-width: 1460px) {
  .ad-in-google__container {
    min-height: 2036px;
  }
}
.ad-in-google__container h2 {
  font-family: "Inter", Arial, sans-serif;
  font-size: 38px;
  font-weight: 900;
  color: #393A56;
  text-align: center;
  padding: 80px 0 70px 0;
}
@media (max-width: 1460px) {
  .ad-in-google__container h2 {
    font-size: 28px;
  }
}
.ad-in-google__container h3 {
  font-family: "Inter", Arial, sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #393A56;
  margin-bottom: 35px;
}
@media (max-width: 1460px) {
  .ad-in-google__container h3 {
    font-size: 18px;
    margin: 24px 0;
  }
}
.ad-in-google__container p {
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #393A56;
  margin-bottom: 20px;
}
@media (max-width: 1460px) {
  .ad-in-google__container p {
    font-size: 16px;
    margin-bottom: 16px;
  }
}
.ad-in-google__container .ad-in-google__item {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  justify-content: center;
  align-content: center;
  margin-bottom: 55px;
}
@media (max-width: 767px) {
  .ad-in-google__container .ad-in-google__item {
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 24px;
  }
}
.ad-in-google__container .ad-in-google__item:nth-child(odd) {
  flex-direction: row-reverse;
}
.ad-in-google__container img {
  width: 799px;
}
@media (max-width: 1460px) {
  .ad-in-google__container img {
    width: 542px;
  }
}
@media (max-width: 1023px) {
  .ad-in-google__container img {
    width: 334px;
  }
}
@media (max-width: 767px) {
  .ad-in-google__container img {
    width: 288px;
  }
}
.ad-in-google__container img .ad-in-google__text-block {
  flex-grow: 1;
}

.results {
  background-image: url(../../assets/img/Page6_GoogleAds_img/background/bg_lightblue.png);
}

.results__container {
  min-height: 560px;
}
@media (max-width: 1460px) {
  .results__container {
    min-height: 470px;
  }
}
@media (max-width: 1023px) {
  .results__container {
    min-height: 464px;
  }
}
@media (max-width: 767px) {
  .results__container {
    min-height: 766px;
  }
}
.results__container .results__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 60px;
}
@media (max-width: 1460px) {
  .results__container .results__items {
    gap: 40px;
  }
}
@media (max-width: 1460px) {
  .results__container .results__items {
    gap: 32px;
  }
}
@media (max-width: 767px) {
  .results__container .results__items {
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    row-gap: 20px;
  }
}
.results__container h2 {
  font-family: "Inter", Arial, sans-serif;
  font-size: 38px;
  font-weight: 900;
  color: #393A56;
  text-align: center;
  padding: 80px 0 70px 0;
}
@media (max-width: 1460px) {
  .results__container h2 {
    font-size: 28px;
    padding: 50px 0 40px 0;
  }
}
@media (max-width: 1460px) {
  .results__container h2 {
    padding: 45px 0 35px 0;
  }
}
.results__container p {
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #393A56;
}
@media (max-width: 1460px) {
  .results__container {
    font-size: 16px;
  }
}

.results__item {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .results__item {
    align-items: flex-start;
  }
}

.results__image {
  width: 60px;
}
@media (max-width: 767px) {
  .results__image {
    width: 48px;
  }
}/*# sourceMappingURL=Page6_GoogleAds_Style.css.map */